a{color:inherit;text-decoration:none}#title-wrapper{align-items:center;background-color:var(--accent);display:flex;height:3rem;justify-content:center}#title{color:#fff;font-family:OneStoreMobilePop;font-size:1.7rem;font-weight:700}
